.btn {
  text-align: center;
  outline: none;
  cursor: pointer;
  min-width: 112px;
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: 16px;
  line-height: 1;
  color: $white;
  font-weight: 400;
  letter-spacing: -0.02em;
  background-color: #465155;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 55px;
  text-decoration: none;
  transition: opacity .3s ease;

  &__circle {
    width: 12px;
    height: 12px;
    background-color: #CEFF7D;
    border-radius: 50%;
    margin-right: 12px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    border-color: $blue;
    background-color: $blue;
    text-decoration: none;
    opacity: .9;
  }

  &--outline {
    background-color: transparent;
    transition: all .3s ease;

    &:hover,
    &:focus,
    &:active {
      border-color: #171b1c;
      background-color: #171b1c;
    }
  }
}