$fontDefault: 'Inter',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontSizeDefault: 16px;


$white: #fff;
$black: #000;
$dark: #282828;
$dark2: #59595a;
$dark3: #2b3f52;
$red: #e11058;
$red2: #ce1438;
$red3: #dc5043;
$yellow: #f0bb2f;
$gray: #6f8596;
$gray2: #9a9b9c;
$darkgray: #355167;
$lightgray: #F7F8FC;
$green: #26a69a;
$blue: #7761FF;


$pathAssets: '../';
$pathStatic: '../';